  <footer>
    <section id="contact" class="contact" vocab="http://schema.org/" typeof="Bakery">
      <div class="container col-sm-12 text-center small">

        <hr class="small">

        <ul class="list-inline">
          <li><a href="{{ site.url }}" property="url"><i class="fa fa-home fa-fw fa-3x"></i></a></span></li>
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-fw fa-3x"></i></a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a></li>
          <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a></li>
        </ul>

        <hr class="small">

        <div class="container col-sm-12 text-center small">

          <h4><strong><span property="name">{{ site.contact.name }}</span></strong></h4>
          <h6>Company number {{ site.contact.company_number }}</h6>
          <div property="address" vocab="http://schema.org/" typeof="PostalAddress">
            <p>
               <span property="addressLocality">{{ site.contact.locality }}</span><br>
         <!--     <span property="addressRegion">{{ site.contact.region }}</span><br> -->
              <span property="addressCountry">{{ site.contact.country_name }}</span><br> 
              <span property="postalCode">{{ site.contact.postal_code }}</span><br>
            </p>
          </div>
        <!--   <h6>Telephone {{ site.contact.phone }}</h6> -->
        <!--  <h6>Private company limited by guarantee without share capital</h6> -->
        </div>

        <hr class="small">

        <p class="text-muted">Copyright &copy; {{ site.copyright }} {{ site.time | date: '%Y' }}</p>

      </div>
    </section>
  </footer>
