---
layout: default
---

  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>Invest In Irish Whiskey With CaskCoin and Titanic Distillery!</h4>

          <h2>What is CaskCoin?</h2>

          <p class="lead"> CaskCoin combines blockchain technology with a physical asset in the form of still maturing Irish Whiskey. From November 2023, you will be able to pruchase a 401X utility token that will entitle you to a 6 bottle case of limited editon, cask strength Titanic Whiskey, which will be matured for 5 years.</p>

          <h2>Whiskey is the most-traded spirit in the world.</h2>

          <p class="lead">
          Whiskey is an interesting alternative to traditional or even the alternative SWAG (silver, wine, art and gold) investing. It has several interesting characteristics; It does not go off like wine, but can still be consumed, unlike gold and silver. Unlike art, once it is consumed it cannot be consumed over again. Whiskey offers an investment vehicle which could increase over time. Until recently investing in whiskey was something reserved for the few, it took time, knowledge, know-how and expertise. With CaskCoin some of those challenges have been simplified.
          </p>

          <p class="lead">
          Good investments often come in the form of establishing ownership of rare products and holding onto those products as the supply continues to drop, or the quality continues to improve.Combine both of these factors and you are entering the world of whiskey investing. Seeking put an ideal investment vehicle in whiskey requires finding small batch of whiskey that is of high quality, aged appropriately and rare. 
          </p>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <p class="lead"><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-1x"></i> Get In Touch!</a></p>
        </div>
      </div>
    </div>
  </section>
