---
layout: default
---

  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>Invest In Scottish Whisky With CaskCoin Cryptocurrency!</h4>

          <h2>What is CaskCoin?</h2>

          <p class="lead"> CaskCoin is an asset backed cryptocurrency combining blockchain technology with a physical asset investment in the form of maturing Scotch Whisky.</p>

          <h2>Whisky is the most-traded spirit in the world.</h2>

          <p class="lead">
          Whisky is an interesting alternative to traditional or even the alternative SWAG (silver, wine, art and gold) investing. It has several interesting characteristics; It does not go off like wine, but can still be consumed, unlike gold and silver. Unlike art, once it is consumed it cannot be consumed over again. Whisky offers an investment vehicle which could increase over time. Until recently investing in whisky was something reserved for the few, it took time, knowledge, know-how and expertise. With CaskCoin some of those challenges have been simplified.
          </p>

          <p class="lead">
          Whisky represents one-quarter of UK’s exports of food and drink. More than 9,000 people are employed in the Scotch Whisky businesses. A total of £4 billion worth of whisky was exported in 2016. The Scotch Whisky Association, an industry organization protecting Scotch Whisky, reports more than 1.2 billion bottles are exported annually (almost 39 bottles  every second) with Single Malt Scotch exports now worth more than £1bn. Scotch was directly exported to 182 countries showing its truly global nature.
          </p>

          <p class="lead">
          Good investments often come in the form of establishing ownership of rare products and holding onto those products as the supply continues to drop, or the quality continues to improve.  Combine both of these factors and you are entering the world of whisky investing.  Single Malt Scotch is rare – a shortage exists and is not improving.  While distillers are increasing production of single malt, the fact is that a 50-year aged scotch is, by nature of its age, decades from being on the market.  Seeking out an ideal investment vehicle in whisky requires finding a large enough batch of whisky that is of high quality, aged appropriately and rare.
          </p>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <p class="lead"><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-1x"></i> Get In Touch!</a></p>
        </div>
      </div>
    </div>
  </section>
