---
layout: default
---

  <div class="container-fluid">
    <h3>PLEASE READ THIS ENTIRE SECTION AND DO NOT TAKE ANY ACTIONS UNTIL YOU FINISH IT. </h3>

    <h3>IF YOU ARE IN ANY DOUBT AS TO THE ACTION YOU SHOULD TAKE, YOU SHOULD CONSULT YOUR LEGAL, FINANCIAL, TAX OR OTHER PROFESSIONAL ADVISOR(S) AND IMMEDIATELY NAVIGATE AWAY FROM CASKCOIN WEBSITE AND DO NOT CONTRIBUTE TO THE DEVELOPMENT OF CASKCOIN.</h3>

    <p>
    The 401X brochure, information provided on CaskCoin web page and any terms and conditions published by CaskCoin do not constitute a prospectus or offer document of any sort and is not intended to constitute an offer of securities or a solicitation for investment in securities in any jurisdiction. The tokens to be issued by CaskCoin are not intended to constitute securities and/or collective investment units in any jurisdiction. If you decide to participate, please note that your contribution to
    CaskCoin does not involve the exchange of cryptocurrencies for any form of securities,
    investment units and/or form of ordinary shares in CaskCoin or any other company, CaskCoin token holder does not receive any form of dividend or other revenue right that is guaranteed or it participates in profit sharing scheme.
    </p>

    <p>
    The 401X brochure, information provided on CaskCoin web page and any terms and conditions published by CaskCoin any part thereof and any copy thereof must not be taken or transmitted to any country where distribution or dissemination of these documents/information is prohibited or restricted.
    </p>

    <p>
    No regulatory authority has examined or approved of any of the information set out in the 401X Offer brochure.
    </p>

    <p>
    No such action has been or will be taken under the laws, regulatory requirements or rules of any jurisdiction.
    </p>

    <p>
    The publication, distribution or dissemination of the 401X brochure do not imply that the applicable laws, regulatory requirements or rules have been complied with.
    </p>


    <h3>Disclaimer</h3>
    </p>
    To the maximum extent permitted by the applicable laws, regulations and rules, CaskCoin, its founders, team members and any third party involved in CaskCoin shall not be liable for any indirect, special, incidental, consequential or other losses of any kind, in tort, contract or otherwise (including but not limited to loss of revenue, income or profits, and loss of use or data), arising out of or in connection with any acceptance of or reliance on the 401X brochure or any part thereof and/or information provided on CaskCoin web page by you.
    </p>

    <p>
    All statements contained in the 401X brochure and CaskCoin webpage, statements made in press releases or in any place accessible by the public and oral statements that may be made by CaskCoin, its founders, team members and any third party involved in CaskCoin and acting on behalf of CaskCoin, that are not statements of historical fact, constitute “forward-looking statements”.
    </p>

    <p>
    All statements regarding CaskCoin, financial position, business strategies, plans and prospects and the future prospects of the industry which CaskCoin is in are forward-looking statements. Neither CaskCoin, its founders, team members, any third party involved in CaskCoin nor any other person represents, warrants and/or undertakes that the actual future results, performance or achievements of CaskCoin will be as discussed in these forward-looking statements.
    </p>

    <p>
    Any market and industry information and forecasts included in the 401X brochure that have been obtained from internal surveys, reports and studies, where appropriate, as well as market research, publicly available information and industry publications, generally state that the information that they contain has the from sources believed to be reliable, but there can be no assurance as to the accuracy or completeness of such included information.
    </p>

    <p>
    No information in this brochure should be considered to be business, legal, financial or tax advice regarding contribution to the development of CaskCoin. CaskCoin does not make or purport to make, and hereby disclaims, any representation, warranty or undertaking in any form whatsoever to any entity or person, including any representation, warranty or undertaking in relation to the truth, accuracy, and completeness of any of the information set out in this
    brochure.
    </p>

    <p>
    The information contained on the CaskCoin web page and brochure are of descriptive nature only, are not binding, unless explicitly referred to in terms and conditions. No part of the 401X brochure is to be reproduced, distributed or disseminated without including this section.
    </p>
  </div>
