---
layout: default
---

  <header class="header-full">
    <div class="text-vertical-center">
      <p><h1>Sale Begins In:</h1></p>
      </br></br>
      <p><h2 id="countdown"></br></h2></p>
    </div>
  </header>

  <section id="whitelist" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <p class="lead">You must be <a class="page-link" href="{{ site.baseurl }}/whitelist/"><button type="button" class="btn btn-primary">Whitelisted</button></a> to take part in the Token Sale!</p>
        </div>
      </div>
    </div>
  </section>

  <script>
  // Set the date we're counting down to
  var countDownDate = new Date("Mar 12, 2018 12:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="countdown"
    document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "Sale Now On!";
    }
  }, 1000);
  </script>
