---
layout: default
---

  <header class="header-full">
    <div class="text-vertical-center">
      <p><h1>Announcement</h1></p>
      </br>
      <h2>The 401X token represents a prepaid voucher to be exchanged for a 6 bottle case of Titanic Irish Whiskey, once matured. 
      <h2>You, including US citizens, can take advantage of this amazing opportunity to buy a limited edition, cask strength Titanic Whiskey.</h2>
      <h2>Register now to ensure not to miss out on this April 2023 launch.</h2>
      <h2>Exciting times!</h2>
    </div>
  </header>

  <section id="whitelist" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <p class="lead">You must be <a class="page-link" href="{{ site.baseurl }}/whitelist/"><button type="button" class="btn btn-primary">Registered</button></a> to take part in the Token Sale!</p>
        </div>
      </div>
    </div>
  </section>

  <p id="countdown"></p>

  <script>
  // Set the date we're counting down to
  var countDownDate = new Date("2023-03-31T12:00:00Z");
  //.getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    var countdown = document.getElementById("countdown");
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="countdown"
       document.getElementById("countdown").innerHTML = "Count Down to Sale of Tokens:  " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
       

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "Sale Now On!";
    }
  }, 1000);
    
    // var content = document.getElementById(countDownDate).innerHTML;
    // alert(content);
   // alert(countDownDate);
  </script>
