---
layout: default
---

  <section id="whisky_history" class="whisky">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          </br></br>
          <p class="lead text-center">According to the Scotch Whisky Association, Scotch whisky evolved from a Scottish drink called uisge beatha, which means "water of life". The earliest record of distillation in Scotland occurred as long ago as 1494, as documented in the Exchequer Rolls, which were records of royal income and expenditure. The quote above records eight bolls of malt given to Friar John Cor wherewith to make aqua vitae (Latin for "water of life," = uisge beatha) over the previous year. This would be enough for 1,500 bottles, which suggests that distillation was well-established by the late 15th century.</p>

          <p>Scotland’s King James IV was recorded as purchasing whisky from the local barber upon a visit to Dundee in 1506. That he purchased it from the barber would not have raised any eyebrows in that time period. “In 1505, the Guild of Surgeon Barbers in Edinburgh was granted a monopoly over the manufacture of aqua vitae – a fact that reflects the spirits perceived medicinal properties as well as the medicinal talents of the barbers.”</p>

          <p>Royalty and the clergy were not the only ones to enjoy whisky, however. The farming community discovered new benefits of the distillation process near the end of the 16th century. Both barley and oats were staple crops of Scottish agriculture, but due to their cold, wet climate, the long-term storage of grain was nearly impossible.</p>

          <p>Writing of whisky in his Chronicles of England, Scotland and Ireland in 1577, Raphael Holinshed observed that:</p>

          <blockquote class="blockquote">
            <p>“Being moderately taken it cutteth fleume, it lighteneth the mynd, it quickeneth the spirits, it cureth the hydropsie, it pounceth the stone, it repelleth gravel, it puffeth away ventositie, it kepyth and preserveth the eyes drom dazelying, the tongue from lispying, the teeth from chatterying, the throte from rattlying, the weasan from stieflying, the stomach from womblying, the harte from swellying, the bellie from wirtching, the guts from rumblying, the hands from shivering, the sinews from shrinkying, the veynes from crumplying, the bones from akying, the marrow from soakying, and truly it is a sovereign liquor if it be orderlie taken”.</p>
          </blockquote>

          <p>The growth of Scotch whisky distillation continued for the next several centuries, surviving taxes, cumbersome government regulation, and smuggling to become a commercial industry in the 1700s. Two events helped to increase whisky's popularity: first, the introduction in 1831 of the column still; the whisky produced with this process was generally less expensive to produce and also less intense and smoother, because a column still can perform the equivalent of multiple distillation steps in a continuous distillation process. Second, the phylloxera bug destroyed wine and cognac production in France in 1880 which helped ensure worldwide growth of the scotch industry.</p>

          <p>Since that time, a lot has changed and a lot has stayed the same. Just as in any field, new techniques and practices have created a greater variety of products, but at the end of the day, distillers are still in the business of turning barley and water into a tasty concoction.</p>

          <p class="lead text-center">To make Scotch Whisky some simple ingredients are needed - malted grain, yeast and water along with a 'secret sauce'. The production process of scotch whisky is surprisingly simple. It involves malting, mashing, fermentation, distillation, and maturation. The 'secret sauce' however is the key component - people, wood and time.</p>

          </br></br>
          <img src="/img/manufacture01.png" class="img-rounded center-block img-responsive" alt="Manufacturing Process">
          </br></br>

          <ol>
            <li>Malting — the process of turning barley into malt, very similar to the early stages of making beer. Barley is soaked or “steeped” in water, drained, then spread out on the malting floor to germinate. During the germination process (generally 6 or 7 days), enzymes are released, which convert the starches into maltose, a sugar. At this point, the malted barley is dried using the smoke from an underground furnace called a “kiln.” The fire for the furnace is often stoked with peat which is why you’ll hear scotch drinkers refer to a “smoky peat” flavor in many whiskies.</li>
            <li>Mashing — the dried malt is then ground into a course flour with the consistency of oatmeal, called “grist.” The grist is then mixed with hot water and pumped into a vessel called a “mash tun.” In the mash tun, the water and ground malt is thoroughly mixed and allowed to steep so that the sugars in the malt are released into liquid. This sugary liquid is called “wort.”</li>
            <li>Fermentation — the wort is then drawn off and pumped into large wooden or steel vessels called “washbacks.” Once there, it is combined with yeast and allowed to ferment. The length of fermentation can be different depending on the environment, but it generally takes about two days. “The living yeast feeds on the sugars, producing alcohol and small quantities of other compounds known as congeners, which contribute to the flavor of the whisky,” according to scotlandwhisky.com. The resulting liquid is anywhere from 5-8% alcohol by volume and is called “wash.”</li>
            <li>Distillation — the wash is distilled twice (single malt in a pot still, grain whisky in a Coffey still). The first still is the wash still and is used to separate the water from the alcohol by boiling the wash, collecting the evaporated alcohol which condenses at the top and collecting it in a condenser. The resulting liquid is called “low wine” and is approximately 20% alcohol by volume. The low wine is then sent through the second still, also called the “spirit still.” This process is slower and the climate must be very closely monitored. The stillman discards the first part of the distillate, called ‘foreshots’ and the last part known as ‘feints,’ because these contain unpleasant higher alcohols. The center part of the distillation is preserved and this is the whisky we drink. This spirit is colorless and gets its color during maturing in oak barrels.</li>
            <li>Maturation — the unfinished Scotch is then placed in oak barrels, or casks, for the maturation process to begin. Throughout the maturation the whisky becomes much smoother, increases in flavor and begins to retain the golden color of the barrels inside which it rests. Traditionally second-hand sherry barrels were used to age whisky, but today bourbon barrels are also common. Some producers experiment with other varieties including port, beer, cognac, and even wine. Each barrel passes on a distinct flavor to its contents. In order to be considered “Scotch” is must be aged in Scotland for at least three years. Though each whisky reaches its maturation at different ages, most are now aged anywhere from 8-20 years. Many feel that the longer a scotch is aged the smoother and more flavorful it becomes — old whiskies are also more rare and cost a quite a bit more.</li>
          </ol>

          </br></br>
          <img src="/img/manufacture02.png" class="img-rounded center-block img-responsive" alt="Manufacturing Process">
          </br></br>

        </div>
      </div>
    </div>
  </section>
