---
layout: default
---

  <section id="whisky_history" class="whisky">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          </br></br>
          <p class="lead text-center">Irish Whiskey comes from the Irish uisce beatha, which means "water of life". Irish Whiskey was once the most popular spirit in the world, though a long period of decline from the 19th century onwards greatly damaged the industry.</p>

          <p>Since the 1990s, Irish whiskey has seen a resurgence in popularity and has been the fastest-growing spirit in the world every year since 1990. With exports growing by over 15% per annum, existing distilleries have been expanding and a number of new distilleries constructed. Titanic Distillery is one example, becoming operational at the Titanic Pumphouse in 2023.</p>

          <p>It is believed that Irish monks brought the technique of distilling perfumes back to Ireland from their travels to Southern Europe around 1000 AD.The Irish modified this technique to obtain a drinkable spirit.</p>  
          <p>The oldest known documented record of whiskey in Ireland was in 1405, in the Annals of Clonmacnoise.</p>

          <p>The growth of whiskey distillation continued for the next several centuries, surviving taxes, cumbersome government regulation, and smuggling, to become a commercial industry in the 1700s. The introduction in 1832 of the Coffey still meant the whiskey produced with this process was generally more effective and cheaper to produce.</p>

          <p>Since that time, a lot has changed and a lot has stayed the same. Just as in any field, new techniques and practices have created a greater variety of products, but at the end of the day, distillers are still in the business of turning barley and water into a tasty concoction.</p>

          <p class="lead text-center">To make Irish Whiskey some simple ingredients are needed - malted grain, yeast and water along with a 'secret sauce'. The production process of Irish Whiskey is surprisingly simple. It involves malting, mashing, fermentation, distillation, and maturation. The 'secret sauce' however is the key component - people, wood and time.</p>

          </br></br>
          <img src="/img/manufacture01.png" class="img-rounded center-block img-responsive" alt="Manufacturing Process">
          </br></br>

          <ol>
            <li>Malting — the process of turning barley into malt, very similar to the early stages of making beer. Barley is soaked or “steeped” in water, drained, then spread out on the malting floor to germinate. During the germination process (generally 6 or 7 days), enzymes are released, which convert the starches into maltose, a sugar. At this point, the malted barley is dried using the smoke from an underground furnace called a “kiln.” The fire for the furnace is often stoked with peat which is why you’ll hear scotch drinkers refer to a “smoky peat” flavor in many whiskies.</li>
            <li>Mashing — the dried malt is then ground into a course flour with the consistency of oatmeal, called “grist.” The grist is then mixed with hot water and pumped into a vessel called a “mash tun.” In the mash tun, the water and ground malt is thoroughly mixed and allowed to steep so that the sugars in the malt are released into liquid. This sugary liquid is called “wort.”</li>
            <li>Fermentation — the wort is then drawn off and pumped into large wooden or steel vessels called “washbacks.” Once there, it is combined with yeast and allowed to ferment. The length of fermentation can be different depending on the environment, but it generally takes about two days. The living yeast feeds on the sugars, producing alcohol and small quantities of other compounds known as congeners, which contribute to the flavor of the whiskey. The resulting liquid is anywhere from 5-8% alcohol by volume and is called “wash.”</li>
            <li>Distillation — the wash is distilled twice (single malt in a pot still, grain whisky in a Coffey still). The first still is the wash still and is used to separate the water from the alcohol by boiling the wash, collecting the evaporated alcohol which condenses at the top and collecting it in a condenser. The resulting liquid is called “low wine” and is approximately 20% alcohol by volume. The low wine is then sent through the second still, also called the “spirit still.” This process is slower and the climate must be very closely monitored. The stillman discards the first part of the distillate, called ‘foreshots’ and the last part known as ‘feints,’ because these contain unpleasant higher alcohols. The center part of the distillation is preserved and this is the whiskey we drink. This spirit is colorless and gets its color during maturing in oak barrels.</li>
            <li>Maturation — the unfinished Whiskey is then placed in oak barrels, or casks, for the maturation process to begin. Throughout the maturation the whiskey becomes much smoother, increases in flavor and begins to retain the golden color of the barrels inside which it rests. Traditionally second-hand sherry barrels were used to age whiskey, but today bourbon barrels are also common. Some producers experiment with other varieties including port, beer, cognac, and even wine. Each barrel passes on a distinct flavor to its contents. In order to be considered Whiskey it must be aged in Ireland for at least three years. Though each whiskey reaches its maturation at different ages, most are now aged anywhere from 5-20 years. Many feel that the longer it is aged the smoother and more flavorful it becomes — old whiskies are also more rare and cost a quite a bit more.</li>
          </ol>

          </br></br>
          <img src="/img/manufacture02.png" class="img-rounded center-block img-responsive" alt="Manufacturing Process">
          </br></br>

        </div>
      </div>
    </div>
  </section>
