---
layout: default
---

  <header class="header-full">
    <div class="text-vertical-center">
      <h1>Registration</h1>
      </br></br>
      <p><a class="page-link" href="https://airtable.com/shrQp6EWMrdazqReW"><button type="button" class="btn btn-primary">Registration Form</button></a></p>
    </div>
  </header>

  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>You must be registered in order to participate!</h2>

          <p>Please complete our <a class="page-link" href="https://airtable.com/shrQp6EWMrdazqReW"><button type="button" class="btn btn-primary">Registration Form</button></a> so that we can begin the registration process.</p>

        </div>
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>Details we will need for the registering include...</p>
          <ol>
            <li>Your Full Name</li>
            <li>Your Email Address</li>
            <li>Your Date Of Birth</li>
            <li>Your Country</li>
            <li>Optional comment or uestion</li>
          </ol>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          </br></br>
          <p class="lead">Contact us on <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-1x"></i> Twitter</a> if you have any questions.</p>
        </div>
      </div>
    </div>
  </section>
