---
layout: default
---

  <header class="header-full">
    <div class="text-vertical-center">
      <h1>Registration</h1>
      </br></br>
    <!--  <p><a class="page-link" href="https://airtable.com/shrQp6EWMrdazqReW"><button type="button" class="btn btn-primary">Registration Form</button></a></p> -->
    </div>
  </header>

  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>You must be registered in order to participate!</h2>
          <iframe class="airtable-embed" src="https://airtable.com/embed/shrQp6EWMrdazqReW?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
      <!--    <p>Please complete our <a class="page-link" href="https://airtable.com/shrQp6EWMrdazqReW"><button type="button" class="btn btn-primary">Registration Form</button></a> so that we can begin the registration process.</p> -->

        </div>
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>Details we will need for the registering include...</p>
          <ol>
            <li>Your Full Name</li>
            <li>Your Email Address</li>
            <li>Your Wallet Address</li>
            <li>Your Date Of Birth</li>
            <li>Your Country</li>
            <li>Your Street</li>
            <li>Your City</li>
            <li>Your Postcode/ZipCode</li>
            <li>Your Upload Government Issued Picture Identification</li>
            <li>Your Number of cases you would like to buy</li>
            <li>Optional comment or question</li>
          </ol>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          </br></br>
          <p class="lead">Contact us on <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-1x"></i> Twitter</a> if you have any questions.</p>
        </div>
      </div>
    </div>
  </section>

 <p id="countdown"></p>

  <script>
  // Set the date we're counting down to
  var countDownDate = new Date("2023-03-31T12:00:00Z");
  //.getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    var countdown = document.getElementById("countdown");
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="countdown"
       document.getElementById("countdown").innerHTML = "                            Count Down to Sale of Tokens:  " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
       

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "Sale Now On!";
    }
  }, 1000);
    
  </script>  
